#demo {
	width: 10rem;
}

a {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
}

[id*="demo"] a {
	width: 100%;
}

.clicked {
	color: #FC4A54;
	background: #eee;
}

.clicked a {
	color: inherit;
}