/**
 * --------------------------------
 * Print.sass
 * --------------------------------
 */
@print {
	body {
	  background: #fff !important;
	  color: #000 !important;
	  text-shadow: none !important;
	}
}