@import url(http://fonts.googleapis.com/css?family=Exo+2:100);

/**
 * --------------------------------
 * 베이스 스타일
 * --------------------------------
 */
@import "part/base.css";

/**
 * --------------------------------
 * 사용자 정의 스타일
 * --------------------------------
 */
::selection {
	background: #3b1014;
	color: #fcfcfc;
	text-shadow: none;
}

body {
	padding-left: 100px;
	padding-top: 100px;
}

[role=navigation] ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

[role=navigation] a {
	text-decoration: none;
}