@import url(http://fonts.googleapis.com/css?family=Exo+2:100);

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	color: #fff;
	background: #FC414B -webkit-linear-gradient(#fc414b, #931A25);
	background: #FC414B linear-gradient(#fc414b, #931A25);
	letter-spacing: -0.04em;
}

body * {
	margin: 0;
	font-family: "Exo 2", sans-serif;
	font-weight: 100;
}

a {
	color: inherit;
	line-height: 1.5;
}

h1 {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

p {
	margin-bottom: 1rem;
	color: #FACED2;
}

.container {
	max-width: 640px;
	max-width: 40rem; /* Root Element base EM */
	margin: 0 auto;
	padding-top: 100px;
	padding-top: 6.25rem;
}

/* 슬라이드 버튼 기본 스타일 모듈 */
a[class*="slide-shape-"] {
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-bottom: 2px solid #EF747E;
	padding-right: 0.3em;
	padding-left: 0.3em;
	color: #fff;
	vertical-align: bottom;
	text-decoration: none;
}

a[class*="slide-shape-"]:hover,
a[class*="slide-shape-"]:focus {
	border-bottom-color: #34c0ff;
}

a[class*="slide-shape-"]::before {
	content: attr(data-linktext);
	position: absolute;
	color: #fff;
	background: #34C0FF;
	text-align: center;
	-webkit-transition: all 340ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transition: all 340ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* 방향 스타일 초기화 모듈 */
a[class*="slide-shape-"]:hover::before,
a[class*="slide-shape-"]:focus::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

a[class*="slide-shape-"]:focus {
	outline: none;
}

/* 방향 스타일 모듈 */
a.slide-shape-left::before {
	right: 100%;
	left: -100%;
}

a.slide-shape-right::before {
	right: -100%;
	left: 100%;
}

a.slide-shape-top::before {
	top: -100%;
	bottom: 100%;
}

a.slide-shape-bottom::before {
	top: 100%;
	bottom: -100%;
}



/* 슬라이드 언더라인 기본 스타일 모듈 */
a[class*="slide-underline-"] {
	position: relative;
	padding-right: 0.3em;
	padding-left: 0.3em;
	padding-bottom: 0.1em;
	color: #fff;
	text-decoration: none;
}

a[class*="slide-underline-"]::before {
	content: '';
	position: absolute;
	top: 100%;
	border-bottom: 2px solid #fff;
	transition: all 0.2s;
}

/* 슬라이드 언더라인 방향 스타일 모듈 */
a.slide-underline-left::before {
	left: 0;
	right: 100%;
}
a.slide-underline-left:hover::before {
	right: 0;
}

a.slide-underline-right::before {
	left: 100%;
	right: 0;
}
a.slide-underline-right:hover::before {
	left: 0;
}

a.slide-underline-center::before {
	right: 50%;
	left: 50%;
}
a.slide-underline-center:hover::before {
	right: 0;
	left: 0;
}