html {
	font-size: 16px;
}

body {
	margin: 0;
	background: #FC414B;
	color: #fff;
}

a {
	color: inherit;
}

.container {
	max-width: 800px;
	max-width: 50em; /* Equal M */
	max-width: 50rem; /* rool Element base EM */
	margin: 100px auto;
}

/* 슬라이드 버튼 기본 스타일 모듈 */
a[class*='slide-btn-'] {
	overflow:        hidden;
	position:        relative;
	display:         inline-block;
	vertical-align:  bottom;
	text-decoration: none;
	padding-left:    0.19em;
	padding-right:   0.19em;
}

a[class*='slide-btn-']::before {
	content:    attr(data-link);
	position:   absolute;
	top:        0;
	left:       0;
	width:      inherit;
	height:     inherit;
	padding-left: 0.19em;
	padding-right: 0.19em;
	background: #34C0FF;
	color:      #fff;
	text-align: center;
	transition: all 200ms linear;
}
a[class*='slide-btn-']:hover::before {
	transition: all 200ms linear;
}

/* 방향 스타일 모듈 */
a[class*='-left']::before {
	left:  -100%;
	right: 100%;
}
a[class*='-right']::before {
	left:  100%;
	right: -100%;
}
a[class*='-top']::before {
	top:    -100%;
	bottom: 100%;
}
a[class*='-bottom']::before {
	top:    100%;
	bottom: -100%;
}

/* 슬라이드 스타일 모듈 */
a[class*='-left']:hover::before {
	left: 0;
	right: auto;
}
a[class*='-right']:hover::before {
	left: auto;
	right: 0;
}
a[class*='-top']:hover::before {
	top: 0;
	bottom: auto;
}
a[class*='-bottom']:hover::before {
	top: auto;
	bottom: 0;
}
