@import url(http://fonts.googleapis.com/css?family=Exo+2:100);

/**
 * --------------------------------
 * 베이스 스타일
 * --------------------------------
 */
@import "part/base.css";

/**
 * --------------------------------
 * 사용자 정의 스타일
 * --------------------------------
 */
::selection {
	background: #3b1014;
	color: #fcfcfc;
	text-shadow: none;
}

body {
	color: #fff;
	background: #fc414b linear-gradient(#fc414b, #931A25);
	letter-spacing: -0.04em;
	font-family: "Exo 2", sans-serif;
	font-weight: 100;
	line-height: 1.5;
}

h1 {
	margin-bottom: 24px;
	margin-bottom: 1.8rem;
}

p {
	margin-bottom: 16px;
	margin-bottom: 1rem;
	color: #faced2;
}

a {
	text-decoration: none;
	padding-bottom: 0.05rem;
	border-bottom: 1px dashed;
}

a:focus {
	outline: 4px solid hsla(50, 100%, 50%, 1);
	border-bottom: 0;
}

img {
	max-width: 100%;
	height: auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.container {
	max-width: 640px;
	max-width: 40rem;
	margin: 0 auto;
	padding-top: 100px;
	padding-top: 6.25rem;
}

[id*='art-'] {
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

[id*='art-'] h2 {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	background: #fff;
	color: #000;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 3px;
}

nav ul::after {
	content: '';
	display: table;
	clear: both;
}

nav li {
	float: left;
	margin-right: 1.3rem;
	margin-bottom: 0.3rem;
}

nav a {
	text-decoration: none;
	border-bottom: none;
}

nav a:hover,
nav a:focus {
	outline: none;
	color: #FC414B;
	font-weight: bold;
}
